@import "tailwindcss";

@theme {
    --color-primary: #000000;
    --color-secondary: #000000;
    --color-text-primary: #ffffff;
    --color-text-secondary: #11071F;
    --color-background: #11071F;
    --color-background-secondary: #ffffff;
    --color-accent: #1A0B2E;
    --color-accent-secondary: #000000;
}

@layer utilities {
  .bg-custom-gradient {
    background: linear-gradient(
      90.21deg,
      rgba(170, 54, 124, 0.5) -5.91%,
      rgba(74, 47, 189, 0.5) 100%
    );
  }
}