@import "tailwindcss";

@theme {
    --color-primary: #000000;
    --color-secondary: #000000;
    --color-text-primary: #000000;
    --color-text-secondary: #000000;
    --color-background: #11071F;
    --color-background-secondary: #000000;
    --color-accent: #000000;
    --color-accent-secondary: #000000;
}